<div class="safeloader" ng-if="isAjaxLoadingMaster || isAjaxLoadingChild">
    <div class="loader-wrapper">
        <div class="loder-crcil"></div>
        <div class="text">HRMS</div>
    </div>
</div>
